
{% include 'headerPlay.html.twig' with {'partie': partie} only %}
<input id="idPartie" name="idPartie" type="hidden" value="{{id}}">








<span  id="ws-content-receiver">

<div class="row  justify-content-center align-items-center" style="min-height: 100vh;">
<i class="fas fa-circle-notch fa-spin" style="font-size:200px;color:white;"></i>
</div>

</span>



{% include 'footerPlay.html.twig'%}
