{% include 'header.html.twig'%}
<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-table"></i>
		Liste des parties
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Date de la partie</th>
					</tr>
				</thead>
				<tbody>
					{% for e in pParties %}
					<tr>
						<td><a href="{{ path('PartieConsulter', { 'id': e.id }) }}">{{ e.nom }}</a></td>
						<td>{{ e.date|date('d/m/Y') }}</td>
					{% else %}
						<tr>
						<td>Aucune partie n'a été trouvé.</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% include 'footer.html.twig'%}
