
{% include 'headerPlay.html.twig' only %}







<span  id="ws-content-receiver">
<div class="alert alert-info">
  <strong>Info!</strong>Connexion au serveur ...
</div>



</span>



{% include 'footerPlay.html.twig'%}


<script src="{{ asset('') }}js/chrono.js"></script>

<script type="text/javascript" src="{{ asset('') }}js/QuizzJoueur/Main.js"></script>
<script type="text/javascript" src="{{ asset('') }}js/QuizzJoueur/ModeMakeyMakey.js"></script>
<script type="text/javascript" src="{{ asset('') }}js/QuizzJoueur/ModeTourParTour.js"></script>
